BasedOnStyle: Chromium
IndentWidth: 2
AccessModifierOffset: -4
PointerAlignment: Right
IncludeBlocks: Merge
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# Only from clang-format 14.0.0
AlignAfterOpenBracket: BlockIndent
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Never

# Only after clang-format 15.0.0
InsertBraces: false

BraceWrapping: 
  AfterStruct:      true
  AfterUnion:       true
  AfterEnum:        true
  AfterNamespace:   true
  AfterClass:       true
  AfterFunction:    true
  AfterControlStatement: true
  AfterControlStatement: true
  SplitEmptyFunction: true
AlwaysBreakBeforeMultilineStrings: true
